/* Level 1 */

.content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    height: 100vh;
    flex: 1;
    position: relative;
    background-color: #F0EFEB;
    z-index: 0;
}

/* Level 2 */

#background {
    height: 100vh;
    width: calc(100% + 100px);
    position: fixed;
    margin: 0 -50px;
    z-index: 10;
    overflow: hidden;
}
.backgroundImg {
    background-position-x: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.tag-container-outer,
.app-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-flow: row;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
}
.tag-container-outer {
    z-index: 30;
}
.app-container {
    z-index: 20;
}

/* Level 3 */

.inner-app {
    /* display: flex;
    flex-direction: column; */
    /* padding: 10px; */
    max-height: 100%;
    overflow: hidden;
    /* margin: 10px;
    background-color: rgba(255,255,255,0.6); */
}
.tag-container {
    grid-area: 3 / 3 / 5 / 5;
    /* background-color: #C5DEDD; */
}
.quote-container {
    grid-area: 6 / 1 / 7 / 7;
    /* background-color: #D6E2E9; */
}
.reselect-container {
    grid-area: 1 / 1 / 6 / 2;
    /* background-color: #FFF1E6; */
}
.weather-container {
    grid-area: 1 / 2 / 2 / 7;
    justify-self: end;
    /* background-color: #FDE2E4; */
}
.todo-container {
    grid-area: 2 / 2 / 6 / 6;
    /* background-color: #DBE7E4; */
}
.archive-container {
    grid-area: 2 / 6 / 6 / 7;
    /* background-color: #F0EFEB; */
}

/* Level 4 */

.feature-inner {
    display: flex;
    flex-flow: column nowrap;
    background-color: rgba(255,255,255,0.3);
    max-height: 100%;
    padding: 10px;
}
.weather-container .feature-inner {
    /* flex-flow: row nowrap; */
    justify-content: flex-end;
}

/* Level 5+ */

.input-item {
    margin-bottom: 5px;
    padding: 5px;
    background: none;
    border: none;
    display: flex;
    width: 100%;
}
.input-item:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
.inner-weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    text-align: center;
}

.inner-weather > * {
    padding: 0;
    margin: 0;
    flex: 1 1 100px;
}
.inner-weather img {
    display: flex;
    margin: 0 auto;
}
.todo-entry {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 2px solid #fff;    
}
.todo-entry input {
    background: none;
    width: 95%;
    height: 40px;
    border: none;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 30px;
}
input:focus, input:focus-visible {
    outline: none;
}
.todo-submit {
    width: 5%;
    color: #fff;
    font-size: 24px;
    display: flex;
    padding: 5px;
    align-items: end;
}

/* Text */

p, li {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 1.25em;
    margin: 0 0 10px 0;
}
h1 {
    font-weight: 300;
    font-size: 36px;
    margin: 0 0 30px 0;
}
h2 {
    font-family: 'Lora', serif;
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 25px 0;
}
h3 {
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 20px 0;
}
h4 {
    font-family: 'Lora', serif;
    font-size: 22px;
    margin: 0 0 15px 0;
}

.quote-container h4 {
    margin-bottom: 5px;
}

/* for later  */

.tall {
    background-position-y: 30%;
}

.wide {
    background-position-y: 50%;
}
.hidden {
    display: none !important;
}
