body {
    margin: 0;
    display: block;
    height: 100vh;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    height: 100vh;
    flex: 1;
    position: relative;
}

#background {
    /* display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch; */
    
    height: 100vh;
    width: 100%;
    position: absolute;
    margin:0;
    padding: 0;
    z-index: -99;
}

.backgroundImg {
    margin: 0 -50px;
    background-position-x: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.tall {
    background-position-y: 30%;
}

.wide {
    background-position-y: 50%;
}

h1 {
    margin: 10px 0;
}
.input-container {
    display: flex;
    flex-flow: column nowrap;
}
.input-item {
    margin: 5px;
    padding: 10px;
    background: none;
    border: none;
    display: flex;
    width: 100%;
}
.input-item:hover {
    background-color: rgb(152, 177, 198);
}
.hidden {
    display: none !important;
}
.app-container, .tag-container-outer {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgb(190, 207, 221);
}
.tag-container-outer { 
    z-index: 100;
}
.app-container {
    z-index: 1;
}

.inner-app {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    padding: 0 20px;
}
.tag-container { grid-area: 3 / 3 / 5 / 5;}

.quote-container { grid-area: 6 / 1 / 7 / 7; }

.reselect-container { grid-area: 1 / 1 / 6 / 2; }

.weather-container { grid-area: 1 / 2 / 2 / 7; }

.todo-container { grid-area: 2 / 2 / 6 / 6; }

.archive-container { grid-area: 2 / 6 / 6 / 7; }